@import url(https://fonts.googleapis.com/css?family=PT+Serif);

@font-face {
  font-family: 'DecimaNovaProBold';
  src: url('../fonts/DecimaNovaProBold/DecimaNovaProBold.eot?') format('eot');
  src: url('../fonts/DecimaNovaProBold/DecimaNovaProBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DecimaNovaProBold/DecimaNovaProBold.woff') format('woff'),
  url('../fonts/DecimaNovaProBold/DecimaNovaProBold.ttf')  format('truetype'),
  url('../fonts/DecimaNovaProBold/DecimaNovaProBold.svg#DecimaNovaProBold') format('svg');
}

@font-face {
  font-family: 'DecimaNovaProLight';
  src: url('../fonts/DecimaNovaProLight/DecimaNovaProLight.eot?') format('eot');
  src: url('../fonts/DecimaNovaProLight/DecimaNovaProLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DecimaNovaProLight/DecimaNovaProLight.woff') format('woff'),
  url('../fonts/DecimaNovaProLight/DecimaNovaProLight.ttf')  format('truetype'),
  url('../fonts/DecimaNovaProLight/DecimaNovaProLight.svg#DecimaNovaProLight') format('svg');
}

@font-face {
  font-family: 'DecimaNovaProRegular';
  src: url('../fonts/DecimaNovaProRegular/DecimaNovaProRegular.eot?') format('eot');
  src: url('../fonts/DecimaNovaProRegular/DecimaNovaProRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DecimaNovaProRegular/DecimaNovaProRegular.woff') format('woff'),
  url('../fonts/DecimaNovaProRegular/DecimaNovaProRegular.ttf')  format('truetype'),
  url('../fonts/DecimaNovaProRegular/DecimaNovaProRegular.svg#DecimaNovaProRegular') format('svg');
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?');
  src:  url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
  url('../fonts/icomoon/icomoon.woff?43v8t') format('woff'),
  url('../fonts/icomoon/icomoon.ttf') format('truetype'),
  url('../fonts/icomoon/icomoon.svg?#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e900";
}
.icon-gplus:before {
  content: "\e901";
}
.icon-linkedin:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-burger:before {
  content: "\e904";
}